extends layout

block content
	body
		.contaier-fluid.gray-bg.pt-5
			#alert.alert.alert-danger(role='alert', style='display: none;')
				| Could not load posts. Please reload the page.
			.container
				.row.justify-content-center
					#postsContainer.col-6
					.col-3.d-none.d-lg-block
						.position-fixed
							.card
								.card-body.shadow-sm
									h5.card-title Catz
									.card-text
										ul
											li Epic cat social media
											li Privacy is non exsiting
											li We love catz
									a.btn.btn-primary(href='/feed/new') Upload photo
	//- load frontend javascript 
	script(src='/js/frontendFeed.js')
