extends layout

block content
	body
		.container-fluid
			.container.my-5
				.row
					.col-6.text-center.mx-auto
						| We should create some cool landing page. Some cool convencing marketing stuff. Sales, sales, sales. We need your data. But we don't have time. We don't care. We are catz. We rule the internet.
						br
						br
						img.img-fluid(src='public/img/homeCover.png')
