extends layout

block content
	body
		.container-fluid
			#login.container
				h1.loginHeader.py-5 Sign in to Catz
				form(method='POST' action='/signup')
					div.form-group
						label(for='username') Username
						input#username.form-control(type='text', placeholder='Username' name='username' required)
					div.form-group
						label(for='password') Password
						input#password.form-control(type='password', placeholder='Password' name='password' required)
					button.btn.btn-primary(type='submit') Sign in
		script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
		script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
		script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
